# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdk/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
media

# Virtual environment
venv/
.env/
.venv/

# IDE
.vscode/
.idea/

# Database
*.sql
*.sqlite

# macOS
.DS_Store